name: Build and run tests

on:
  push:
    branches: ["master"]
  pull_request:
       branches: [ master ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build pylox
        run: make build
      - name: Test pylox
        run: make test
      - name: Lint pylox
        run: make lint

